.aboutCompany_section{
    background: $bg-lightGray;
    .content{
        padding: 55px 0;
        .mainTitle{
            *{
                font-size: 30px;
                font-weight: 900;
                text-align: center;
            }
        }
        .mainArtcle{
            text-align: center;
            *{
                text-align: inherit;

            }
        }
    }
}