.opportunity_section{
    padding-top: 90px;

    background: url('../img/line_section_blue.png');

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 50px;

   
}