.section_searhResult{
    background: $bg-lightGray;
    .content{
        .item{
            margin: 20px 0;
            .title{
                font-weight: 600;
                font-size: 18px;
            }
            a{
                color:$colorText-lightblue;
            }
            p{

            }
        }
    }
}