.variant_product{
    background-color: $bg-lightGray;
    background: url('../img/line_section.png') $bg-lightGray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 100px;
}